
*{
    margin: 0;
    padding: 0;

}

    

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #584040;
}
.box{
    width: 920px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#B7D6C7,#FFE2D1);
    overflow: hidden;
    

}
.box2{
    width: 920px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#000000,#434343);
    overflow: hidden;
    

}
.dino{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;;
    left: 42px ;
    z-index: 2;
    background: url('dino.png') repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x:0px ;
}
.dino3{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;;
    left: 42px ;
    z-index: 2;
    background: url('dino3.png') repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x:0px ;
}
.dino4{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;;
    left: 42px ;
    z-index: 2;
    background: url('dino4.png') repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x:0px ;
}
#mobile-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1000;
}

#mobile-controls button {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #444;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.dino2{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;;
    left: 42px ;
    z-index: 2;
    background: url('dino2.png') repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x:0px ;
}
.dino5{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;;
    left: 42px ;
    z-index: 2;
    background: url('dino5.png') repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x:0px ;
}
.dino-run{
    animation: dino-animations 0.25s steps(2) infinite;
}
.dino-est{
    background-position-x:-252px ;
}
.suelo{

    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('suelo.png') repeat-x 0px 0px;
    background-size: 50% 42px;
    
}
.suelo-roca{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('roca.png') repeat-x 0px 0px;
    background-size: 50% 42px;
}
.suelo-agua{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('wat.png') repeat-x 0px 0px;
    background-size: 50% 42px;
}
.suelo-volcan{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('lav.png') repeat-x 0px 0px;
    background-size: 50% 42px;
}
.suelo-bruja{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('bruj.png') repeat-x 0px 0px;
    background-size: 50% 42px;
}
.suelo-cielo{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('1w.png') repeat-x 0px 0px;
    background-size: 50% 42px;
}
.salt{
    width: 100px;
    height: 100px;
    background-color: #ffffff;

}

.score{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10px;
    color: #d48872;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}
#mobile-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 1000;
}

#mobile-controls button {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #444;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#ss{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#shop{
    background-color: #f00;

}
.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(cactus1.png) no-repeat;
}
.cactus2{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(cactus2.png) no-repeat;
}
.bruja{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(esc.png) no-repeat;
}
.bruja2{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(esc2.png) no-repeat;
}
.clo{

    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(2.png) no-repeat;
}

.clo2{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(3.png) no-repeat;
}
.wer{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(wer.png) no-repeat;
}
.wer2{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(wer2.png) no-repeat;
}
.roco{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(roca\ grande.png) no-repeat;
}
.roco2{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(roca2.png) no-repeat;
}
.lava{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(lab.png) no-repeat;
}
.lava2{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(lab2.png) no-repeat;
}
.suelo-park{

    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('ps.png') repeat-x 0px 0px;
    background-size: 50% 42px;
    
}
.park{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(p.png) no-repeat;
}
.park1{
    width: 96px;
    height: 66px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(p1.png) no-repeat;
}
.park2{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(p2.png) no-repeat;
}
@keyframes dino-animations{
    from{background-position-x:-84px;}
    to{background-position-x:-252px;}
}